name = "sparseQFCA"
uuid = "077cf62c-ad2d-5edd-99ec-638372f8b004"
authors = ["Mojtaba Tefagh <mtefagh@sharif.edu>", "Iman Ghadimi <iman.diligent@gmail.com>"]
version = "2.1.0"

[deps]
CDDLib = "3391f64e-dcde-5f30-b752-e11513730f60"
COBREXA = "babc4406-5200-4a30-9033-bf5ae714c842"
Clarabel = "61c947e1-3e6d-4ee4-985a-eec8c727bd6e"
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
GLPK = "60bf3e95-4087-53dc-ae20-288a0d20c6a6"
JuMP = "4076af6c-e467-56ae-b986-b466b2749572"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MathOptInterface = "b8f27783-ece8-5eb3-8dc8-9495eed66fee"
SharedArrays = "1a1011a3-84de-559e-8e89-a11a2f7dc383"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
AbstractFBCModels = "5a4f3dfa-1789-40f8-8221-69268c29937c"
SBMLFBCModels = "3e8f9d1a-ffc1-486d-82d6-6c7276635980"

[compat]
CDDLib = "0.9"
COBREXA = "2.0"
Clarabel = "0.7.1, 0.9"
Colors = "0.12.10"
GLPK = "1.1.3"
JuMP = "1.21.1"
MathOptInterface = "1.28.1"
AbstractFBCModels = "1"
SBMLFBCModels = "1"
julia = "1.9.2"
